* {
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  color: $dark-grey;
  font-weight: $font-light;
}

h1,
h2,
h3,
h4 {
  font-weight: $font-regular;
}

a {
  color: $brand-red;
  transition: .2s ease-in-out all;
  font-weight: $font-regular;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $dark-grey;
  }
  &:focus {
    text-decoration: none;
  }
}
ul{
  list-style-type: none;
  padding-left: 0;
}
strong {
  font-weight: $font-bold;
}

label {
  font-weight: $font-regular;
}

.content-wrapper {
  min-height: calc(100vh - 360px);
}

.dn {
  display: none;
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.fn {
  float: none;
}

.cb {
  clear: both;
}

.bk-title--red{
  color: $brand-red;
  font-weight: $font-extra-bold;
  text-transform: uppercase;
  @include MQ(L){
      font-size: 48px;
  }
}
.bk-excerpt--link{
  display: block;
  margin-bottom: 10px;
}

.bk-text--red{
  color: $brand-red;
  font-weight: $font-bold;
}