%no-margin{
  margin: 0;
  padding: 0;
}
%center-flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
%section-height{
  min-height: 450px;
}
%bk-icon {
  display: block;
  width: 60px;
  height: 60px;
}