$primary-font: 'Roboto', sans-serif;
$display-font: 'Raleway', sans-serif;
$font-light: 300;
$font-regular: 400;
$font-bold: 500;
$font-extra-bold: 700;

// Colores
$palette: (
    ligth-grey: #DCDDE1,
    ultra-ligth-grey: #F5F6FA,
    medium-grey: #697789,
    brand-grey: #2F3640,
    dark-grey: #1F232A,
    brand-red: #A01127,
    page-yellow: #f0d471,
    page-green: #4cb29d
);
$ligth-grey: map-get($palette,ligth-grey);
$ultra-ligth-grey: map-get($palette,ultra-ligth-grey);
$medium-grey: map-get($palette,medium-grey);
$brand-grey: map-get($palette,brand-grey);
$dark-grey: map-get($palette,dark-grey);
$brand-red: map-get($palette,brand-red);
$page-yellow: map-get($palette,page-yellow);
$page-green: map-get($palette,page-green);
$white:white;

//Gradientes
// $gradient-yellow-green: linear-gradient(to right, $page-yellow, $page-green);
// $gradient-red-yellow: linear-gradient(to right, $brand-red, $page-yellow);