@charset 'UTF-8';
@import 'utils/variables';
@import 'utils/functions';
@import 'utils/media';
@import 'utils/mixins';
@import 'utils/placeholders';
@import 'base/reset';
@import 'base/typography';
@import 'base/global';
@import 'components/loader';
@import 'components/navbar';
@import 'components/buttons';
@import 'components/hamburguer';
@import 'layout/footer';
@import 'pages/page-home';
@import 'pages/category';

.bk-single--img {
    padding: 0;
}

$items: engie,
moto,
protección,
nieve,
viento,
lluvia,
montaña,
nublado,
noche,
sol;

@each $item in $items {
    .bk-#{$item} {
        @extend %bk-icon;
        background: url('../img/'+$item+'.png') no-repeat center center;
    }
}

.bk-sponsors {
    background: $ligth-grey;
}

.bk-link--white {
    color: $white;

    &:hover {
        color: $ligth-grey;
    }
}

.bk-footer--logos.text-center img {
    padding: 10px;
    max-height: 70px;
}

input[class="effect-3"] {
    color: $white;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}

.input-parent {
    position: relative;
}

.effect-3 {
    border: 0;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
    background: none !important;
    border-radius: 0;
    padding-bottom: 10px;
    margin-bottom: 10px;

    &:focus {
        outline: none !important;
        border: none !important;
        box-shadow: none !important;
        color: $white;
    }
}

.effect-3~.focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    z-index: 99;
}

.effect-3~.focus-border:before,
.effect-3~.focus-border:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #3399FF;
    transition: 0.4s;
}

.effect-3~.focus-border:after {
    left: auto;
    right: 0;
}

.effect-3:focus~.focus-border:before,
.effect-3:focus~.focus-border:after {
    width: 50%;
    transition: 0.4s;
}

.woocommerce {

    .col-1,
    .col-2 {
        max-width: none;
    }
}

.woocommerce-billing-fields .form-row,
.woocommerce-shipping-fields .form-row,
.woocommerce form .form-row {
    display: block;
}

.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
    max-width: unset;
}

.quick_buy_container{
    display: inline-block !important;
}