.bk--btn{
    display: inline-block;
    border:none;
    padding: 10px 20px;
    transition: .2s ease-in-out all;
    cursor: pointer;
    color: $white !important;
    &__black{
        background: $dark-grey;
        border: 1px solid $dark-grey;
        &:hover{
            color: $dark-grey !important;
            background: $white;
            border: 1px solid $ligth-grey;
        }
    }
    &__red{
        background: $brand-red;
        border: 1px solid $brand-grey;
        &:hover{
            color: $brand-red !important;
            background: $white;
            border: 1px solid $ligth-grey;
        }
    }
    &__small{
        padding: 5px 10px;
    }
}