.cd-loader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000001;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff;
  &__grid {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-delay: 0.2s;
  }
  &__item {
    width: 100%;
    height: 100%;
    background: url("../img/bk-hero-logo.png") no-repeat;
    background-size: contain;
    animation: fade .9s infinite ease-in-out;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}