.bk-navbar{
    @include MQ(M){
        position: absolute;
        z-index: 999999;
        width: 100%;
        padding: 0;
    }
    &--container{
        background: $white;
    }
    &__nav{
        @include MQ(M){
            margin: 0 auto;
        }
    }
    & .nav-item{
        @include MQ(M){
            min-width: 150px;
        }
    }
    & .nav-item .nav-link{
        text-transform: uppercase;
        font-weight: $font-bold;
        font-size: 14px;
        width: 100%;
        text-align: center;
    }
    & .nav-item.active{
        background: $ligth-grey;
    }
    & #bk-logo{
        display: none;
        @include MQ(M){
            display: list-item;
        }
    }
    &__img{
        max-width: 200px;
        padding: 12px 30px 5px 30px;
    }
    &--logo{
        @include MQ(S){
            display: none;
        }
        &__img{
            max-height: 80px;
        }
    }
}
.woocommerce-page{
    .bk-navbar{
        position: inherit !important;
    }
}
.single{
    .bk-navbar{
        position: inherit !important;
    }
}