.bk-footer{
    background: $brand-grey;
    color: $white;
    &--hr__t, 
    &--hr__b {
        margin: 0;
        border-color:$ligth-grey;
    }
    &--hr__t{
        margin-bottom: 20px;
    }
    &--hr__b{
        margin-top: 20px;
    }
    &--copy{
        background: $dark-grey;
    }
    &__img{
        max-height: 120px;
    }
}