@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,900");
.bk-engie, .bk-moto, .bk-protección, .bk-nieve, .bk-viento, .bk-lluvia, .bk-montaña, .bk-nublado, .bk-noche, .bk-sol {
  display: block;
  width: 60px;
  height: 60px; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  color: #1F232A;
  font-weight: 300; }

h1,
h2,
h3,
h4 {
  font-weight: 400; }

a {
  color: #A01127;
  -webkit-transition: .2s ease-in-out all;
  -o-transition: .2s ease-in-out all;
  transition: .2s ease-in-out all;
  font-weight: 400;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: #1F232A; }
  a:focus {
    text-decoration: none; }

ul {
  list-style-type: none;
  padding-left: 0; }

strong {
  font-weight: 500; }

label {
  font-weight: 400; }

.content-wrapper {
  min-height: calc(100vh - 360px); }

.dn {
  display: none; }

.db {
  display: block; }

.dib {
  display: inline-block; }

.fl {
  float: left; }

.fr {
  float: right; }

.fn {
  float: none; }

.cb {
  clear: both; }

.bk-title--red {
  color: #A01127;
  font-weight: 700;
  text-transform: uppercase; }
  @media screen and (min-width: 1024px) {
    .bk-title--red {
      font-size: 48px; } }

.bk-excerpt--link {
  display: block;
  margin-bottom: 10px; }

.bk-text--red {
  color: #A01127;
  font-weight: 500; }

.cd-loader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000001;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff; }
  .cd-loader__grid {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
  .cd-loader__item {
    width: 100%;
    height: 100%;
    background: url("../img/bk-hero-logo.png") no-repeat;
    background-size: contain;
    -webkit-animation: fade .9s infinite ease-in-out;
    animation: fade .9s infinite ease-in-out; }

@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media screen and (min-width: 768px) {
  .bk-navbar {
    position: absolute;
    z-index: 999999;
    width: 100%;
    padding: 0; } }

.bk-navbar--container {
  background: white; }

@media screen and (min-width: 768px) {
  .bk-navbar__nav {
    margin: 0 auto; } }

@media screen and (min-width: 768px) {
  .bk-navbar .nav-item {
    min-width: 150px; } }

.bk-navbar .nav-item .nav-link {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  width: 100%;
  text-align: center; }

.bk-navbar .nav-item.active {
  background: #DCDDE1; }

.bk-navbar #bk-logo {
  display: none; }
  @media screen and (min-width: 768px) {
    .bk-navbar #bk-logo {
      display: list-item; } }

.bk-navbar__img {
  max-width: 200px;
  padding: 12px 30px 5px 30px; }

@media screen and (min-width: 480px) {
  .bk-navbar--logo {
    display: none; } }

.bk-navbar--logo__img {
  max-height: 80px; }

.woocommerce-page .bk-navbar {
  position: inherit !important; }

.single .bk-navbar {
  position: inherit !important; }

.bk--btn {
  display: inline-block;
  border: none;
  padding: 10px 20px;
  -webkit-transition: .2s ease-in-out all;
  -o-transition: .2s ease-in-out all;
  transition: .2s ease-in-out all;
  cursor: pointer;
  color: white !important; }
  .bk--btn__black {
    background: #1F232A;
    border: 1px solid #1F232A; }
    .bk--btn__black:hover {
      color: #1F232A !important;
      background: white;
      border: 1px solid #DCDDE1; }
  .bk--btn__red {
    background: #A01127;
    border: 1px solid #2F3640; }
    .bk--btn__red:hover {
      color: #A01127 !important;
      background: white;
      border: 1px solid #DCDDE1; }
  .bk--btn__small {
    padding: 5px 10px; }

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #A01127;
    border-radius: 4px;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

.hamburger--emphatic {
  overflow: hidden; }
  .hamburger--emphatic .hamburger-inner {
    -webkit-transition: background-color 0.125s 0.175s ease-in;
    -o-transition: background-color 0.125s 0.175s ease-in;
    transition: background-color 0.125s 0.175s ease-in; }
    .hamburger--emphatic .hamburger-inner::before {
      left: 0;
      -webkit-transition: top 0.05s 0.125s linear, left 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
      transition: top 0.05s 0.125s linear, left 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
      -o-transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335); }
    .hamburger--emphatic .hamburger-inner::after {
      top: 10px;
      right: 0;
      -webkit-transition: top 0.05s 0.125s linear, right 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
      transition: top 0.05s 0.125s linear, right 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
      -o-transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335); }
  .hamburger--emphatic.is-active .hamburger-inner {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background-color: transparent; }
    .hamburger--emphatic.is-active .hamburger-inner::before {
      left: -80px;
      top: -80px;
      -webkit-transform: translate3d(80px, 80px, 0) rotate(45deg);
      transform: translate3d(80px, 80px, 0) rotate(45deg);
      -webkit-transition: left 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition: left 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
      -o-transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .hamburger--emphatic.is-active .hamburger-inner::after {
      right: -80px;
      top: -80px;
      -webkit-transform: translate3d(-80px, 80px, 0) rotate(-45deg);
      transform: translate3d(-80px, 80px, 0) rotate(-45deg);
      -webkit-transition: right 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition: right 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
      -o-transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

.bk-footer {
  background: #2F3640;
  color: white; }
  .bk-footer--hr__t, .bk-footer--hr__b {
    margin: 0;
    border-color: #DCDDE1; }
  .bk-footer--hr__t {
    margin-bottom: 20px; }
  .bk-footer--hr__b {
    margin-top: 20px; }
  .bk-footer--copy {
    background: #1F232A; }
  .bk-footer__img {
    max-height: 120px; }

.bk-home--events--nav {
  background: #DCDDE1; }
  .bk-home--events--nav__title {
    font-weight: 500;
    color: #A01127;
    margin: 0;
    padding: 5px 0; }
  .bk-home--events--nav__link {
    background: #1F232A; }
    .bk-home--events--nav__link-btn {
      color: white; }
      .bk-home--events--nav__link-btn:hover {
        color: #DCDDE1; }

.bk-home--events__cards {
  margin-bottom: 20px; }
  .bk-home--events__cards--container {
    padding: 0; }

.bk-home--dojo {
  color: white;
  background: #2F3640 url("../img/home-dojo.jpg") no-repeat center;
  background-size: cover;
  border-top: 50px solid #DCDDE1;
  border-bottom: 50px solid #DCDDE1;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 95%, 0% 100%, 0 0, 50% 5%);
  clip-path: polygon(100% 0, 100% 100%, 50% 95%, 0% 100%, 0 0, 50% 5%); }
  .bk-home--dojo__mask {
    background: #1F232A;
    position: relative;
    margin-top: -50px;
    height: 50px;
    z-index: -1; }
  .bk-home--dojo__hr {
    border-color: white; }

.bk-home--external {
  background: #1F232A;
  padding: 40px; }

.bk-home--events__first .bk-loop-card--header {
  max-height: 250px !important; }

.bk-img-responsive {
  width: 100%;
  padding: 20px; }

.bk-home--dojo__cat {
  display: none; }
  @media screen and (min-width: 480px) {
    .bk-home--dojo__cat {
      display: block; } }

.bk-event--loop {
  margin: 0; }
  .bk-event--loop p {
    margin: 2px 0; }
  .bk-event--loop:nth-child(odd) .bk-event--loop__info {
    background: #DCDDE1; }
  .bk-event--loop:nth-child(odd) .bk-event--loop__date {
    background: #1F232A; }
  .bk-event--loop__info {
    background: #F5F6FA;
    font-weight: 500; }
    .bk-event--loop__info--title {
      color: #1F232A;
      font-weight: 700;
      padding: 4px 0; }
  .bk-event--loop__date {
    background: #697789;
    color: white;
    font-size: 34px;
    font-weight: 500;
    padding-top: 20px; }

.bk-section {
  margin-top: 40px;
  margin-bottom: 40px; }

.bk-loop-card {
  border: 1px solid #DCDDE1; }
  .bk-loop-card--header {
    max-height: 130px;
    overflow: hidden; }
  .bk-loop-card--content {
    padding: 10px; }

.bk-category-loop--img {
  display: none; }
  @media screen and (min-width: 480px) {
    .bk-category-loop--img {
      display: block; } }

.bk-single--img {
  padding: 0; }

.bk-engie {
  background: url("../img/engie.png") no-repeat center center; }

.bk-moto {
  background: url("../img/moto.png") no-repeat center center; }

.bk-protección {
  background: url("../img/protección.png") no-repeat center center; }

.bk-nieve {
  background: url("../img/nieve.png") no-repeat center center; }

.bk-viento {
  background: url("../img/viento.png") no-repeat center center; }

.bk-lluvia {
  background: url("../img/lluvia.png") no-repeat center center; }

.bk-montaña {
  background: url("../img/montaña.png") no-repeat center center; }

.bk-nublado {
  background: url("../img/nublado.png") no-repeat center center; }

.bk-noche {
  background: url("../img/noche.png") no-repeat center center; }

.bk-sol {
  background: url("../img/sol.png") no-repeat center center; }

.bk-sponsors {
  background: #DCDDE1; }

.bk-link--white {
  color: white; }
  .bk-link--white:hover {
    color: #DCDDE1; }

.bk-footer--logos.text-center img {
  padding: 10px;
  max-height: 70px; }

input[class="effect-3"] {
  color: white;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: 1px; }

.input-parent {
  position: relative; }

.effect-3 {
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
  background: none !important;
  border-radius: 0;
  padding-bottom: 10px;
  margin-bottom: 10px; }
  .effect-3:focus {
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: white; }

.effect-3 ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  z-index: 99; }

.effect-3 ~ .focus-border:before,
.effect-3 ~ .focus-border:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #3399FF;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

.effect-3 ~ .focus-border:after {
  left: auto;
  right: 0; }

.effect-3:focus ~ .focus-border:before,
.effect-3:focus ~ .focus-border:after {
  width: 50%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

.woocommerce .col-1,
.woocommerce .col-2 {
  max-width: none; }

.woocommerce-billing-fields .form-row,
.woocommerce-shipping-fields .form-row,
.woocommerce form .form-row {
  display: block; }

.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
  max-width: unset; }

.quick_buy_container {
  display: inline-block !important; }

/*# sourceMappingURL=main.css.map */